.pokemon-title-card{
    font-size: 1.5rem;
    padding: 0;
}
.search-index{
    margin-top: 10px;
}
.page-select-container{
    gap:15px;
    margin-bottom: 10px;
}
.pokemon-container{
    margin: 0px auto;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
    padding: 15px 0;
    max-width: 1500px;
}

.pokemon-business-card{
    padding: 5px;
    background: #FFDE00;
    color: black;
    text-align: center;
    border-radius: 5px;
    width: min(170px, 200px);
    max-height: 190px;
}
.img-wrapper{
    margin: auto;
    width: 100px;
}
.info-link{
    padding: 5px 30px;
    margin: 0;
    background: #3B4CCA;
    text-decoration: none;
    color: white;
    border-radius: 5px;
 
}
