*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    background: rgb(204,0,0);
background: radial-gradient(circle, rgba(204,0,0,1) 0%, rgba(59,76,202,1) 100%);
}

html,body{
    height: 100%;
    font-size: 16px;
    line-height: 150%;
    font-family: 'Inter', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px;   
}
header{
    background:black;
    width: 100%;
}

nav{
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px;
}
.img-container{
    justify-content: center;
    width:290px;
    height: 200px;
    margin: 0 auto;
    background: black;
    border: 5px solid #c7a008;
    border-radius: 5px;
    padding: 10px;
    background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
}
h1,h2{
    font-size: 2rem;
    font-family: 'Bangers', cursive;
    font-weight: 400;
    padding: 10px;
}
.flex{
    display: flex;
}
.pokeCard{
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin: 40px auto;
 width: 320px;
 border: 5px solid #ffcb05;
 border-radius: 10px;
 background-image: linear-gradient( 67.2deg,  rgba(37,208,199,1) -7.5%, rgba(165,90,240,1) 62.7% );
 height: 430px;
}
.btn-container{
    justify-content: center;
   
}
@media(min-width:40rem){
    .pokeCard{
        margin: 80px auto;
    }
}


.previous {
    background: rgb(45,91,253);
    background: linear-gradient(0deg, rgba(45,91,253,1) 51%, rgba(195,34,34,1) 51%, rgba(195,34,34,1) 100%);
    margin: 10px;
    padding: 30px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 50%;
    display: block;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: white;

}

button:hover {
    background-position: right center; /* change the direction of the change here */
    color: black;
    text-decoration: none;
  }
  button:active{
    transform: scale(0.94);
    -webkit-transform: scale(0.94);
    -moz-transform: scale(0.94);
    -ms-transform: scale(0.94);
    -o-transform: scale(0.94);
}
 .abilites-wrapper{
    padding: 10px;
    height: 116px;
 }
 .abilities-container{
    margin-top: 5px;
    background: rgb(255,203,5);
    background: linear-gradient(90deg, rgba(255,203,5,1) 11%, rgba(199,160,8,1) 82%);
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.search{
    padding: 5px 15px;
    background: rgba(2, 1, 1, 0.637);
    border: 1px solid rgb(60, 63, 68);
    border-radius: 4px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    height: 45px;
    appearance: none;
    transition: border 0.15s ease 0s;
}
 
.search:focus{
    outline: none;
    box-shadow: none;
    border-color: rgb(100, 153, 255);
}

.search-btn {
    background-image: linear-gradient(to right, #780206 0%, #061161  51%, #780206  100%);
    padding: 14px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 5px;
    display: block;
    border: none;
    outline: none;
    cursor: pointer;
}
.search-btn:hover{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
.search-btn:active{
    transform: scale(.97);
}


.title{
    color: #3B4CCA;
}
.search-container{
    align-items: center;
    gap:10px
}
.hp-container{
    margin: 15px 12px;
    color: black;
    font-weight: bold;
}

.ul-list{
    margin-left: 20px;
}
.contact-form{
    flex-direction: column;
    justify-content: center;
    width: 320px;
    margin:20px auto;
    background: #000000;
}
.input-fields, label{
    gap:5px;
    margin-top: 7px;
    display: flex;
    flex-direction: column;
}
.inputs{
    padding: 5px;
}
.search-wrapper{
    margin-top: 20px;
}
.submit-container{

    margin-top: 15px;
}
#form-submit{
    padding: 10px;
    justify-self: center;
    width: 100%;
}
a{
    text-decoration: none;
    color:#3B4CCA;
}
footer{
    margin-top: auto;
    justify-content: center;
    padding: 20px;
    background:black;
    color: #3B4CCA;
    font-weight: bold;
    width: 100%;
}

.snack-bar{
    background: rgb(36, 34, 34);
    color: white;
    padding: 20px 50px;
    border-radius: 5px;
    position: fixed;
    transform: translateY(-100%);
    transition: 0.3s ease-in-out;

}
.snack-bar.show{
    transform: translateY(110%);
    -webkit-transform: translateY(110%);
    -moz-transform: translateY(110%);
    -ms-transform: translateY(110%);
    -o-transform: translateY(110%);
}
.contact-form{
    padding: 15px;
    border-radius: 5px;
   
}
textarea{
    padding: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}
.contact-form legend{
    text-align: center;
    color:white;
    font-size: 2rem;
    font-weight: bold;
}
.contact-form fieldset{
    color: white;
    border:none;

}


.error{
    color: red;
    display: none;
}
.error.showError{
    display: block;
}
