*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    background-image: linear-gradient( 180deg,  rgba(21,13,107,1) 1.1%, rgba(188,16,80,1) 130.5% );
 
    color: white;
}
h1{
    font-size: 2rem;
    font-family: 'Bangers', cursive;
    font-weight: 400;
    padding: 10px;
}
html,body{
    height: 100%;
    font-size: 16px;
    line-height: 150%;
    font-family: 'Inter', sans-serif;
}
.flex{
    display: flex;
}
body{
    align-items: center;
    flex-direction: column;
}
header{
    background:  #e4000f;
    width: 100%;
}
.title{
    color: #3B4CCA;
}
.search{
    padding: 5px 15px;
    background: rgba(2, 1, 1, 0.637);
    border: 1px solid rgb(60, 63, 68);
    border-radius: 4px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    height: 45px;
    appearance: none;
    transition: border 0.15s ease 0s;
}
 
.search:focus{
    outline: none;
    box-shadow: none;
    border-color: rgb(100, 153, 255);
}
nav{
    justify-content: space-around;
    align-items: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}
.pokemon-container{
    margin: 50px auto;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
}

.pokemon-business-card{
    padding: 5px;
    background: #FFDE00;
    color: black;
    text-align: center;
    border-radius: 5px;
    width: min(170px, 200px);
}
img{
    max-width: 100%;
}
.img-wrapper{
    margin: auto;
 
}
.info-link{
    padding: 5px 30px;
    background: #3B4CCA;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}