*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    background: rgb(204,0,0);
background: radial-gradient(circle, rgba(204,0,0,1) 0%, rgba(59,76,202,1) 100%);
 
    color: white;
}
h1{
    font-size: 1.5rem;
    font-family: 'Bangers', cursive;
    font-weight: 400;
    padding: 10px;
}
.contact{
    text-decoration: none;
    color: #3B4CCA;
    font-family: 'Bangers', cursive;
    font-size: 1.5rem;
}
.info-title{
    font-size: 1rem;
}

html,body{
    height: 100%;
    font-size: 16px;
    line-height: 150%;
    font-family: 'Inter', sans-serif;
}
.flex{
    display: flex;
}
body{
    align-items: center;
    flex-direction: column;
}
header{
    background:black;
    width: 100%;
}
.title, h2{
    color: #3B4CCA;
}
.search{
    padding: 5px 15px;
    background: rgba(2, 1, 1, 0.637);
    border: 1px solid rgb(60, 63, 68);
    border-radius: 4px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    height: 45px;
    appearance: none;
    transition: border 0.15s ease 0s;
    margin-top: 20px;
}
 
.search:focus{
    outline: none;
    box-shadow: none;
    border-color: rgb(100, 153, 255);
}
nav{
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px;
}

@media(min-width:40rem){
    .info-title{
        font-size: 2rem;
    }
    h1{
        font-size: 2rem;
    }
    nav{
        justify-content: space-around;
        align-items: center;
    }
    button:hover {
        background-position: right center; /* change the direction of the change here */
        color: black;
        text-decoration: none;
      }
}
.page-select-container{
    gap:15px;
    margin-bottom: 10px;
}
.pokemon-container{
    margin: 0px auto;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
    padding: 15px 0;
    max-width: 1500px;
}

.pokemon-business-card{
    padding: 5px;
    background: #FFDE00;
    color: black;
    text-align: center;
    border-radius: 5px;
    width: min(170px, 200px);
    max-height: 160px;
}
img{
    max-width: 100%;
}
.img-wrapper{
    margin: auto;
    width: 100px;
 
}
.info-link{
    padding: 5px 30px;
    background: #3B4CCA;
    text-decoration: none;
    color: white;
    border-radius: 5px;
 
}
a{
    text-decoration: none;
}
footer{
    margin-top: auto;
    justify-content: center;
    padding: 20px;
    background:black;
    color: #3B4CCA;
    font-weight: bold;
    width: 100%;
}
button {
    background: rgb(45,91,253);
    background: linear-gradient(0deg, rgba(45,91,253,1) 51%, rgba(195,34,34,1) 51%, rgba(195,34,34,1) 100%);
    margin: 10px;
    padding: 30px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 50%;
    display: block;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: white;

}

  button:active{
    transform: scale(0.94);
}